html {
    background-color: rgb(211, 235, 227);
}

h1{
    text-align: center;
    color:  #6ecca8;
    font-style: italic;
    font-family: sans-serif;
    font-size: 3em;
}


#grid{
    margin: auto;    
    width: 350px;
    height: 350px;
    padding: 0px 15px 15px 15px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

#grid > button {
    margin-top: 10px;
    width: 336px;
    height: 40px;
    border-radius: 5px;
    background-color :#6ecca8;
    color: white;
    font-weight: bolder;
    display: block;
}

.square{   
    width: 110px;
    height: 110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px rgb(107, 105, 105) solid;        
}

.cell{
    background-color: white;
    width: 34px;
    height: 34px;    
    margin: 0px;    
}

.cell-solved{
    background-color: white;
    width: 34px;
    height: 34px;    
    margin: 0px;    
}

.cell-solved > input {
    font-weight: bolder;
    color: green;
}

.cell-wrongResult{
    background-color: white;
    width: 34px;
    height: 34px;    
    margin: 0px;    
}

.cell-wrongResult > input {
    font-weight: bolder;
    color: red;
}

input{
    margin: 7px;    
    font-size: 18px;
    text-align: center;
    border: none;
    font-weight: bolder;
    width: 100%;
}

section{
    display: flex;    
    justify-content: center;    
}

#red{
    color: red;
}

#green{
    color:green;
}

#nb{
    font-style: italic;
}

.explanation{
    height: 7%;
    background-color: white;    
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
}

a:-webkit-any-link{
    color: white;
    text-decoration: none;
}


