html {
    background-color: #EDF9F5;
}

h1{
    text-align: center;
    color: #249369;
}

#grid{
    margin: auto;
    width: 350px;
    height: 350px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

#grid > button {
    margin-top: 10px;
    width: 342px;
    height: 40px;
    border-radius: 5px;
    background-color: #249369;
    color: white;
    font-weight: bolder;
}

.square{   
    width: 110px;
    height: 110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 2px rgb(107, 105, 105) solid;        
}

.cell{
    background-color: white;
    width: 34px;
    height: 34px;
    border: 1px solid grey;
    margin: 0px;    
}

.cell-solved{
    background-color: white;
    width: 34px;
    height: 34px;
    border: 1px solid grey;
    margin: 0px;    
}

.cell-solved > input {
    font-weight: bolder;
    color: green;
}

.cell-wrongResult{
    background-color: white;
    width: 34px;
    height: 34px;
    border: 1px solid grey;
    margin: 0px;    
}

.cell-wrongResult > input {
    font-weight: bolder;
    color: red;
}

input{
    margin: 7px;    
    font-size: 18px;
    text-align: center;
    border: none;
    font-weight: bolder;
}